
.container{
    background-color: bisque;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
body{
    background-color: yellowgreen;
}
#img{
    margin: 0px 0px 0 0px;
    padding-left: 500px;
    float: right;
    align-items: end;
    height: 400px;
    width: 400px;
}
#image{
    padding: 20px 0px 0px 20px;
    height: 200px;
    width: 300px;
    float: right;
}
#nav{
   margin-bottom: 20px;
   background-color: azure;
   height: auto;
   width: auto;
   padding: 20px;
   border-radius: 50px;
}
a{
    color: black;
}
.container{
    margin-bottom: 50px;
    background-color: aliceblue;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    
}
#a{
    border-radius: 10px;
  background-color: chartreuse;
    
    
}
#ab{
    border-radius: 10px;
    background-color: chartreuse;

}
#abc{
    border-radius: 10px;
    background-color: chartreuse;
}
